
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
    box-sizing: border-box;
}
body{
    background:#f1f4ff ;

}
.header{
    width: calc(100% - 210px);
    height: 355px;
    background:linear-gradient(to right , #3c3d4f, #304c67, #245a7f );
    margin-left: 210px; 
}

header{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    border-bottom:1px #acb0b2 solid;
}

.logo{
    display: flex;
    width: 210px;
    height: 75px;
    position: absolute;
    top: 0 ;
    left:0;
    justify-content: center;
    align-items: center;
    z-index: 2;
    user-select: none;
    /*border-bottom:1px #acb0b2 solid; */

}
    
.logo img{
    width: 100px;
    height: 85px;
}


/* Nav Bar CSS*/
.navbar{
    position: absolute;
    right: 0%;
}
.navbar ul{
    display: flex;
}
.navbar ul li a{
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.navbar ul li a:hover{
    color: white;
    background-color:black ;
}
#date{
    display: block;
    color: white;
    font: 20px;
    padding: 10px 25px;
    margin: 0 5px ;
}


.navlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.navlist #hovertext{
    position: absolute;
    top: 55px;  /* this need to moved to the hover effect*/
    background: #0056b3;
    color: #fff;
    padding: 7px 15px;
    border-radius: 25px;
    border: 1px solid;
    border-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.navlist:hover #hovertext{
    /* top: 55px; */
    opacity: 1;
    pointer-events: auto;
}
.navlist #hovertext::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #0056b3;
    top: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.login{
    display: block;
    color: white;
    font: 20px;
    padding: 10px 25px;
    margin: 0 5px ;
    border-radius: 50px;
    cursor: pointer;
}
.login:hover{
    color: white;
    background-color:black ;
}

.login button{
    display: inline-block;
    all: unset;
}



.drop_content{
    display: none;
    top: 75px;
    position: absolute;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 200px;
    z-index: 1;
    text-align: center;
}
.profile_section{
    padding: 15px; 
    border-bottom: 1px solid #f1f1f1;
}

.profile_pic{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 5px auto;
    display: block;
    border: 1px solid black;

}
.user_name{
    margin-top: 10px;
    font-weight: bold;
}

.drop_content a{
    margin-top: 2px;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.drop_content a:hover{
    color: white;
    background-color: #0056b3;

}


/* Side Bar Css*/

.wrapper{
    display: flex;
    /* position: absolute; */
    /* position: fixed; */
    background-color: f1f4ff;
}
.wrapper .sidebar{
    top: 75px;
    position: absolute;
    width: 210px;
    height:calc(100vh - 75px);
    z-index: 1;
    margin: 0%;
}
.menu {
    margin: 0;
    width: 208px;
    user-select: none;

}

.menubutton {
    background-color: #245a7f;
    color: white;
    padding: 10px 15px; 
    font-size: 16px;
    border: none;
    border-top: 1px solid #ddd;
    cursor: pointer;
    width: 100%; 
    text-align: left;
    box-sizing: border-box;

}

.menubutton:hover {
    background-color: #0056b3;
}

.menubutton a {
    background-color: #245a7f;
    color: white;
    padding: 10px 15px; 
    font-size: 16px;
    border: none;
    border-top: 1px solid #ddd;
    cursor: pointer;
    width: 100%; 
    text-align: left;
    box-sizing: border-box;

}

.menubutton a:hover {
    background-color: #0056b3;
}
.menucontent {
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.menucontent a {
    color: black;
    padding: 10px 15px; 
    text-decoration: none;
    display: block; 
    font-size: 16px; 
    width: 100%; 
    box-sizing: border-box;
}

.menucontent a:hover {
    background-color: #f1f1f1;
}


.menu input[type="checkbox"] {
    display: none; 

}

.menu input[type="checkbox"]:checked ~ .menucontent {
    display: block; 
}


.menu label {
    display: block; 
    cursor: pointer;
}

.container{
    box-sizing: border-box;
    padding-left: 20px;
    height: 100vh;
    width: calc(100% - 210px);
    margin-left: 210px;
    position: absolute;
    top: 75px;
    /* background-color: #fff; */
    background-color: #f1f4ff;
    /* background-color: rgba(255, 255, 255, 0.399); */
    border-top:1px #acb0b2 solid;

}


/*detailsform csss*/
.rolepannel{
    margin: 0%;
}
/* Login pannel */



#form {
    background-color: white;
    width: 90%; 
    max-width: 400px; 
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
}



#form h1 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: #245a7f;
}


#form .input_container {
    position: relative;
    width: 100%; 
    margin-bottom: 15px;
}


#form .input_container input {
    width: 100%; 
    padding: 10px 10px 10px 35px;
    border: 2px solid gray;
    border-radius: 3px;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box; 
}


#form .input_container input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


#form .input_container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}


#form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#form button:hover {
    background-color: #0056b3;
}

@media (max-width: 500px) {
    #form {
        width: 95%; 
        padding: 30px;
    }

    #form .input_container input {
        font-size: 14px; 
        padding: 8px 8px 8px 30px;
    }
}

#btn {

    color: white;
    background-color: #245a7f;
    margin-top: 10px;
    padding:10px 25px;
    border-radius: 50px;
    cursor:pointer ;
}
#btn:hover{
    color: #245a7f;
    background-color: #fff;
    /* border-color: #3c3d4f; */
}
@media screen and (max-width: 700px) {
    #form{
        width:65%;
        padding: 50px;
    }
}

/* detail pannel */

/* rolepannel */

.rolebox{
    padding: 10px;
}

.rolebox .text{
    font-size: 25px;
    color: red;
}
.rolebox .rolelist{
    padding: 8px;
    display: flex;
    flex-direction: column;

}

.rolebox .rolelist h2{
    margin: 10px;
    margin-left: 0%;
    padding: 4px;
    padding-left: 0%;
}

.rolebox .rolelist .item{
    display: flex;
    justify-content: left;
    gap: 50px;
    border-bottom: 2px #3c3d4f solid;

}
/* .rolebox .rolelist .item .selectindivdual {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
} */
/* to use this i have to make group of check box and 
its label in one div then it will be in one row 
instead of using this i have use break tag <br> */

.rolebox .rolelist .item .selectindivdual{
    margin: 15px;
    padding: 4px;
}

.rolebox .rolelist .item .selectindivdual input {
    margin: 6px;
    padding: 4px;
}
.rolebox .rolelist .item .selectindivdual label {
    margin: 6px;
    padding: 4px;
}



/* dishboard content  */
.dashcontent{
    padding-left: 20px;
    height: 100vh;
    width: calc(100% - 210px);
    position: absolute;
    margin-left: 210px;
    top: 75px;
    /* background-color: rgba(255, 255, 255, 0.399); */
    border-top:1px #acb0b2 solid;
}

.dashcontent .greeting{
    padding: 8px;
    color: #fff;
    margin-bottom:20px;
}

.dashcontent .greeting span{
    margin-bottom:8px;
    font-size: 30px;
}

.dashcontent .greeting .greet .greetele {
    margin-top: 5px;
    font-size: 37px;
}
.dashcontent .greeting .greet .msg{
    font-size: 25px;
}

.dashboard{
    display: flex;
    gap: 40px;
    margin: 20px;
    margin-left: 80px;
}

.total{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 90px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    gap: 15px;
}

.total .icon {
    /* margin-left: -20px; */
    padding: 10px;
    font-size: 25px;
    margin-right:125px;
    position: absolute  ;
} 

.total .content{
    margin: 10px;
    display: flex;
    flex-direction: column;

}

.content .title{
    opacity: 80%;
}

.content .value{
    font-size: 35px;
    margin: 5px;
}


.analysis{
    margin-top: 25px;
    padding-left: 20px;
    height: 100vh;
    width: calc(100% - 210px);
    position: absolute;
    margin-left: 210px;
    display: flex;
    gap: 25px;

}

.attendance {
    margin: 20px 0px;
    padding: 0px 8px;
    height: 300px;
    width: 250px;
    border-radius:10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
     
}
.attendance .atten_header {
    display:flex ;
    gap: 10px;
    margin: 10px 5px;
    padding: 10px 8px;
    border-bottom: #3c3d4f solid;
}


.monthly_report{
    margin: 20px 0px;
    padding: 0px 8px;
    height: 300px;
    width: 980px;
    border-radius:10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.monthly_report .monthly_header{
    display:flex ;
    gap: 10px;
    margin: 10px 5px;
    padding: 10px 8px;
    border-bottom: #3c3d4f solid;
}

.filter_contaier{
    margin: 500px;
}




/* role */

.role_header{
    display: flex;
    margin:  10px 0px;
    padding: 5px 0px;
    gap: 20px;
    
}

.role_header .role{
    font-size: 30px;
    font-weight: bold;
}

.role_header .role_mgs{
    opacity: 70%;  
    margin-top: 15px;
}       
.role_content{
    background-color: #fff;
    margin: 10px 0px;
    height: 480px;
    width: 950;
    border-radius: 8px;
    border-top: 2px #245a7f solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.role_title{
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
.role_title span{
    font-size: 20px;
}

.role_title .add{
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin: 2px;
    padding: 7px;
    background-color: #0056b3;
    border-radius: 4px;
    cursor: pointer;
}

.role_title .add button{
    all: unset;
}

.roletable{
    padding: 0;
}